html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

body {
  display: flex;
  justify-content: center;
  width: 9600px;
}

canvas {
  display: block;
  margin: 0 704px;
}

#leftLine {
  position: absolute;
  left: 3840px;
  top: 0;
  width: 2px;
  height: 100vh;
  background-color: rgb(131, 131, 131);
  pointer-events: none;
  z-index: 9999;
  display: block;
}
#rightLine {
  position: absolute;
  left: 5760px;
  top: 0;
  width: 2px;
  height: 100vh;
  background-color: rgb(131, 131, 131);
  pointer-events: none;
  z-index: 9999;
  display: block;
}